@using LearningManagementSystem.Core.Models.Course
@model CourseQueryViewModel

@{
    ViewData["Title"] = "All Courses";
}

<div class="text-center">
    <h1 class="display-4">All Courses</h1>
</div>

<div class="ml-2">
    <a asp-area="" asp-controller="Course" asp-action="Add">
        <input type="button" class="btn btn-outline-primary" value="Add+" />
    </a>
</div>

<div class="container mt-3">
    <div class="row g-4">
        @foreach (var course in Model.Courses)
        {
           <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                <img src="@course.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@course.Title</h5>
                        <p class="card-text">@course.Description</p>
                        @if (User.IsInRole("Student"))
                        {
                            <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Details"><input type="button" class="btn btn-primary" value="Enter & Learn"/></a>
                        }
                        @if (User.IsInRole("Teacher"))
                        {
                            <a asp-area="" asp-controller="Course" asp-action="Details"><input type="button" class="btn btn-primary" value="Enter & Edit"/></a>
                            <a asp-area="" asp-controller="Course" asp-action="Delete"><input type="button" class="btn btn-primary" value="Delete"/></a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>