@using LearningManagementSystem.Core.Models.Course
@model CourseQueryViewModel

@{
    ViewData["Title"] = "All Courses";
}

<div class="text-center">
    <h1 class="display-4">All Courses</h1>
</div>

<div>
    <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Add">
        <button type="button" class="btn btn-outline-primary">Add+</button>
    </a>
</div>

<div class="container">
    <div class="row g-4">
        @foreach (var course in Model.Courses)
        {
           <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                <img src="@course.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@course.Title</h5>
                        <p class="card-text">@course.Description</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>