@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Learning System!</h1>
    <p>You can see our courses <a class="nav-link" asp-area="" asp-controller="Course" asp-action="Index">here</a>.</p>
</div>
